h1
{
    color: rgb(2, 2, 2);
    text-shadow: 15px 15px 5px rgb(255, 255, 255);
    font-size: 100px;
    text-align: center;
    margin-top: 0px;
    
}

body
{
    margin: 0%;
}

/*HEADER*/

header
{
    background:  url("/static/image/famille_spirou.png"), url("/static/image/int_maison.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 85% 10%, center;
    background-size: contain, cover;
    background-color: blanchedalmond;
    width: auto;
    height: 490px;
}

/*BUBBLE 1 LEFT*/

.bulle1gauche
{        
    box-sizing: border-box;
    color: rgb(255, 0, 0);
    background: url("/static/image/Grandpy-removebg-preview.png") no-repeat;
    background-position: left;
    vertical-align: top;
    border: 3px black solid;
    height: 450px;
    text-align: right;
    width: 49%;
    font-size: 40px;
    display: inline-block;
}

/*BUBBLE 1 RIGHT*/

.bulle1droite
{
    box-sizing: border-box;
    color: rgb(255, 0, 0);
    background: url("/static/image/spirou.jpg") no-repeat;
    background-position: right;
    background-size: 50%;
    border: 3px black solid;
    height: 450px;
    width: 49%;
    font-size: 40px;
    display: inline-block;
}

/*BUBBLE 1 RIGHT + CHAT*/

.input_adresse
{
    color:rgb(255, 0, 0);
    border: 2px rgb(255, 0, 0) solid;
    border-radius: 8px;
    padding: 0.85vw;
    position: relative;

}

.chat {
    width: 50%;
    height: 300px;
    z-index: 10;
    box-shadow: 0 5px 30px  rgba(255, 0, 0, 0.5);
    background: rgba(255, 0, 0, 0.5);
    background: transparent;
    border-radius: 20px;

}

.chat2 {
    width: 100%;
    height: 390px;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    overflow: auto;
}

/*BUBBLE 1 RIGHT + USER, BOT_PAPY AND BOT_MAMAN*/

.user {
    font-size: 18px;
    border: 2px solid #dedede;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: right;
    padding: 10px;
    width: 70%;
    position: relative;
    left: 20%;
}

.user img{
    float: right;
    max-width: 40px;
    position: relative;
    top: -8px; left: 10px;
    margin-right: 10px;
    border-radius: 60%;
}

.papy{
    font-size: 18px;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 20px;
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    width: 70%;
}

.papy img{
    float: left;
    max-width: 40px;
    width: 100%;
    margin-right: 20px;
    border-radius: 60%;
}

.bot_maman{
    font-size: 18px;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 20px;
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    width: 70%;
}

.bot_maman img{
    float: left;
    max-width: 30px;
    width: 100%;
    margin-right: 20px;
    border-radius: 60%;
}

/*BUBBLE 2 LEFT*/

div.bulle2gauche
{
    background: url("/static/image/bulle.png") no-repeat;
    border: 3px black dotted;
    height: 450px;
    width: 49%;
    display: inline-block;
}

/*BUBBLE 2 RIGHT*/

.bulle2droite
{
    background: url("/static/image/bulle.png") no-repeat;
    border: 3px black dotted;
    margin: 2px 0 3px 1px;
    height: 450px;
    width: 48%;
    display: inline-block;
}

/*FOOTER*/

footer
{
    border: 3px black dotted;
    margin: 2px 0 3px 1px;
}

/*BUTTON*/

.button {
    background-color: #ff0000;
    border: none;
    border-radius: 20px;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.couleur1 {
    background-color: rgb(87, 87, 87);
    color: white;
    border: 1.5px solid rgb(255, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.couleur1:hover {
    background-color: rgb(182, 177, 177);
    color: black;
}

/*SPINNER*/

.gg-spinner {
    transform: scale(var(--ggs, 2));
    padding-left: 5%;
    padding-top: 5px;
    padding-bottom: 15px;
}

.gg-spinner,
.gg-spinner::after,
.gg-spinner::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 20px
}

.gg-spinner::after,
.gg-spinner::before {
    content: "";
    position: absolute;
    border-radius: 100px
}


.gg-spinner::before {
    animation: spinner 1s cubic-bezier(.6, 0, .4, 1) infinite;
    border: 3px solid transparent;
    border-top-color: currentColor
}

.gg-spinner::after {
    border: 3px solid;
    opacity: .2
}

@keyframes spinner {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}