<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/image/Logo-spirou.png" sizes="16x16">
    <title>GrandPy</title>
</head>

<body>

    <!--Top of page-->
    <header>
        <h1>Super GrandPy</h1>
    </header>

    <!--Contained in BD form-->
    <div id="content">

        <div class="bulle1gauche">
            <div class="text">
            <p>Bonjour, mon enfant.
                Je suis Super GrandPy.
                Ça fait bien longtemps que
                tu n'es pas passé me voir.
                As-tu une question ?</p>
            </div>
        </div>

        <div class="bulle1droite">
            <div class="chat">
                <div class="chat2" id="chat2">
                    <p class="papy"><img src="/static/image/Grand-Papy_Spirou.png" alt="Avatar_papy">Demande moi l'adresse de ton choix, je te montrerais sur ma carte et je te raconterai une histoire,
                    si j'en ai une à te raconter.</p>
                </div>
                <input class="input_adresse" type="text" style="width:92%" id="str_user" value=""
                        placeholder="Pose ta question ici">

            </div>
        </div>
    </div>

    <div class="bulle2maps" id="maps">
        <script async defer id="googlemaps">
        </script>
        <p id="spinner" style="display: none"><span class="gg-spinner">
    </div>

    <!--Footer-->
    <footer>
        <h3><p>Créateur: Dubois François<br /></h3>
        <h4><p>Description:<br /></h4>
        <p>Jeune développeur de 26ans (plus si jeune que ça du coup). Tu es sur mon tout premier site internet. J'espère
            que GrandPy te plaira.<br />
        <p>Retrouve-moi sur les liens en dessous.</p>
            <a href="https://github.com/Frantz680?tab=overview&from=2020-10-01&to=2020-10-31" style="color:red">
                <img src="/static/image/github.png" height="100" width="180">
            </a>
            <a href="https://www.linkedin.com/in/françois-dubois-543a0b177" style="color:red">
                <img src="/static/image/linkeldin.png" height="100" width="100">
            </a>
        </p>
    </footer>
</body>
<script type="text/javascript" src="/static/script.js"></script>
</html>